@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@500&family=Josefin+Sans:wght@300&family=Lato:wght@300&family=Lexend+Deca&family=Open+Sans&family=Outfit:wght@600&family=Roboto:wght@100&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Allan&family=Arvo&family=Cardo&family=Courgette&family=Cuprum&family=Fredoka:wght@500&family=Inter:wght@400;500&family=Kalam:wght@300&family=Lobster&family=Noto+Sans:wght@100;400&family=Poppins:wght@200&family=Roboto:wght@300&display=swap");

$BackGround1: webkit-linear-gradient(left, rgba(248, 80, 50, 1) 0%, rgba(241, 111, 92, 1) 50%, rgba(246, 41, 12, 1) 51%, rgba(240, 47, 23, 1) 71%, rgba(231, 56, 39, 1) 100%);
$contactColor: #323841;
$textColor1: #0b3b6a;
$textColor2: #020024;
$textColor3: #e4e4e1;
$textColor4: #7125c5;
$textColor5: #6191a5;
$textColor6: #999999;
$borderBottom : 3px solid #0b3b6a;
$font-family1: 'Lexend Deca', sans-serif;
$font-family2: "Noto Sans", sans-serif;
$box-padding: 2rem;
$transition: all 0.3s linear;
$sectionPadding: 2.5rem;
$sectionPadding2: 1rem;
$box-shadow : 7px 7px 8px 1px rgb(134 134 215 / 48%);
@mixin linear-gradient() {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(45, 83, 126, 1) 32%, rgba(11, 59, 106, 1) 57%, rgba(40, 133, 152, 1) 100%);
}
@mixin linear-gradient2() {
    background: linear-gradient(90deg, rgb(222 222 225) 0%, rgb(138, 184, 212) 62%, rgba(135, 157, 162, 0.8631827731) 100%, rgb(40, 133, 152) 102%, rgb(11, 59, 106) 81%);
    color: #172f60;
}


@mixin flexCenter($direction, $alignment, $justify) {
    display: flex;
    justify-content: $justify;
    align-items: $alignment;
    flex-direction: $direction;
}

@mixin fontFormet($color) {
    font-size: 25px;
    color: $color;
    font-weight: 500;
    font-family: $font-family1;
    line-height: 4rem;
}




@mixin button($color)  {
     font-family: $font-family1;
    font-weight: 400;
    font-size: 25px;
    line-height: 16px;
    text-align: center;
    padding: 1rem 1.5rem;
    font-size: 20px;
    border: 1px solid $textColor2;
    outline: none;
    color: $color;
    border-radius: 5px;
    cursor: pointer;
}